{
  "extends": ["standard"],
  "plugins": ["jasmine"],
  "env": {
    "node": true,
    "jasmine": true
  },
  "ignorePatterns": ["src/models/index.js"],
  "rules": {
    "camelcase": "off",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "block-like" },
      { "blankLine": "always", "prev": "cjs-import", "next": "multiline-const" }
    ],
    "prefer-arrow-callback": "error",
    "no-var": "error",
    "no-template-curly-in-string": "off",
    "global-require": "error",
    "max-lines-per-function": ["error", 150],
    "max-params": ["error", 8],
    "max-len": ["error", 250],
    "operator-linebreak": ["error", "none"],
    "function-paren-newline": ["error", "multiline"],
    "array-element-newline": ["error", "consistent"],
    "array-bracket-newline": ["error", "consistent"],
    "function-call-argument-newline": ["error", "consistent"],
    // "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": true
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ]
  },
  "globals": {
    "expectAsync": true
  },
  "overrides": [
    {
      "files": ["*-spec.js", "db/migrations/**", "src/models/**"],
      "rules": {
        "max-lines-per-function": 0
      }
    },
    {
      "files": ["src/middlewares/**"],
      "rules": {
        "max-params": 0
      }
    },
    {
      "files": ["*-schema.js", "*-spec.js"],
      "rules": {
        "max-len": 0
      }
    }
  ]
}
